<template>
  <div class="tag-container">
    <div class="tag-input-container">
      <input type="text" 
        class="tag__input" 
        placeholder="Выберите из списка или введите новый" 
        v-model="inputValue"
        @keyup="filter">
      <button class="tag__btn" 
        :class="!canCreate ? 'tag__btn--disabled' : ''"
        @click="canCreate && createTag()"
      >Создать тег</button>
    </div>
    <div class="tag-list">
      <div class="tag__item" 
        v-for="item in tmpList" 
        :class="selected.indexOf(item) > -1 ? 'tag__item--selected' : ''" 
        @click="check(item)">
        {{ item }}
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'tagList',
    props: {
      list: Array,
    },
    data() {
      return {
        tmpList: [],
        canCreate: false,
        selected: [],
        inputValue: '',
      };
    },
    created() {
      this.sortList();
    },
    methods: {
      check(item) {
        const index = this.selected.indexOf(item);
        if (index > -1) {
          this.selected.splice(index, 1);
        } else {
          this.selected.push(item);
        }
      },
      filter() {
        this.tmpList = this.list.filter(item =>
          item.toLowerCase().indexOf(this.inputValue.toLowerCase()) > -1,
        );
        this.canCreate = this.tmpList.length === 0;
      },
      createTag() {
        const val = this.inputValue.trim();
        if (val.length > 0) {
          this.selected.push(val);
          this.list.push(val);
          this.sortList();
          this.inputValue = '';
          this.filter();
        }
      },
      sortList() {
        this.list.sort((a, b) => {
          const tmpA = a.toLowerCase();
          const tmpB = b.toLowerCase();
          return tmpA > tmpB ? 1 : -1;
        });
        this.tmpList = [...this.list];
      },
    },
  };
</script>

<style scoped>  
  .tag-container {
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 1px 1px 1px 0 rgba(0, 100, 177, 0.4), -1px -1px 1px 0 rgba(0, 100, 177, 0.4);
    border: solid 1px #0064b1;
    max-width: 400px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    color: #000000;
  }
  
  .tag-container:after {
    content: '';
    position: absolute;
    top: -12px;
    left: 50%;
    background: url(../assets/img/dropdown-tail-t.svg);
    width: 36px;
    height: 12px;
    margin-left: -18px;
  }
  
  .tag-input-container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }

  .tag__input {
    flex-grow: 1;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #9b9b9b;
    padding: 3px 6px;
    margin-right: 10px;
    outline: none;
  }

  .tag__btn {
    border-radius: 2px;
    background-color: #0064b1;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    border: 0;
    padding: 3px 6px;
    outline: none;
    cursor: pointer;
  }
  
  .tag__btn--disabled {
    background-color: #9b9b9b;
  }
  
  .tag-list {
    height: 150px;
    overflow-y: scroll;
    padding: 5px 0;
  }
  
  .tag-list::-webkit-scrollbar {
    width: 6px;
  }

  .tag-list::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    border: solid 1px #ececec;
  }

  .tag-list::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #0064b1;
  }
  
  .tag__item {
    position: relative;
    margin-bottom: 12px;
    padding-left: 30px;
    cursor: pointer;
    text-transform: capitalize;
  }
  
  .tag__item:hover,
  .tag__item--selected {
    color: #094ea1;
  }

  .tag__item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    background: url(../assets/img/checkbox.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
  
  .tag__item:hover:not(.tag__item--selected)::before {
    background-image: url(../assets/img/checkbox-hover.svg);
  }

  .tag__item--selected::before {
    background-image: url(../assets/img/checkbox-active.svg);
  }
</style>
