<template>
  <TagList :list="tags"/>
</template>

<script>
  import TagList from './components/TagList';
  
  export default {
    name: 'app',
    components: {
      TagList,
    },
    data() {
      return {
        tags: ['Повседневная', 'практика', 'показывает,', 'собой', 'процесс', 'внедрения', 'модернизации', 'направлений', 'прогрессивного', 'Равным', 'рамки', 'место', 'кадров', 'влечет', 'процесс', 'системы', 'обучения', 'соответствует', 'насущным', 'потребностям.', 'Таким', 'образом', 'дальнейшее', 'различных', 'форм', 'деятельности', 'требуют', 'нас', 'анализа', 'систем', 'массового', 'участия', 'другой', 'стороны', 'консультация', 'широким', 'активом', 'значительной', 'степени', 'обуславливает', 'создание', 'модели', 'развития'],
      };
    },
  };
</script>

<style>
</style>
